<div class="container">
  <h1>Greetings Application</h1><br>

  <form class="details" action="/greeted" method="post">
  <div class="row">
    <div class="six columns">
      <label>Enter name:<label>
      <input id="username" type="text" name="username" placeholder="Type name to greet"></br><br>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <input type="radio" name="languange" id="english" value="english"><label>English</label>
      <input type="radio" name="languange" id="french" value="french"><label>French</label>
      <input type="radio" name="languange" id="tshivenda" value="tshivenda"><label>Tshivenda</label><br><br>
      <div class="counter">
        {{counter}}
        <br>
      </div>
    </div>
  </div>
  
  <div class="row">
    <input class="greet" type="submit" name="" value="Greet Me"><br><br>
  </div>
  {{#if messages.greetMessage}}
    <div class="greetMessage">
      {{messages.greetMessage}}
      {{greetings}}
      <br>
      <br>
   </div>
  {{/if}}

  {{#if messages.error}}
    <div class="error">
      {{messages.error}}
      <br>
      <br>
    </div>
  {{/if}}

  <div class="row">
    <a class="view" href="/greetings/add">View all names greeted</a>
  </div>
  </form>
</div>
